.withborder_table{
    border: 1px solid gray;
    border-radius: 25px;
    padding: 20px;
}
.noborder_table{
    padding: 20px;
    max-width: 350px;
}
.fixed{
	cursor:auto;
	width: 170px;
}
td{
	padding: 10px;
}
input{
	cursor:auto;
	font-size: 80%;
	height: 50px;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid gray;
}
#reg_to{
	cursor:auto;
	padding-bottom: none;
	font-size: 50%;
	color: dimgray;
}
.space_portal1{
	cursor:auto;
	padding-bottom: 30px;
	font-size: 150%;
	color: dimgray;
}
.submit_button{
	cursor:pointer;
	background-color: tomato;
	color: white;
	border: none;
}

.reset_button{
	cursor:pointer;
	background-color: darkgray;
	color: white;
	border: none;
}
.ref{
	cursor:auto;
	cursor:auto;
	font-size: 80%;
	padding-top: none;
	text-align: center;
}
.changeRed::-webkit-input-placeholder { 
	color:#f00;
        
}
.space_portal{
	cursor:auto;
	padding-top: 10px;
	font-size: 150%;
	color: dimgray;
}
.login{
	cursor:auto;
	padding-top: none;
	font-size: 80%;
	color: dimgray;
	padding-bottom: 20px;
}
.login_inp{
	cursor:auto;
	font-size: 80%;
	height: 50px;
	width: 200px
	border: none;
	border-bottom: 1px solid gray;
}
.error{
	cursor:auto;
	font-size: 90%;
	color: red;
	text-align: center;
}
.label{
	cursor:auto;
	font-size: 70%;
	color: darkgray;
	text-align: right;
	text-transform: uppercase;
	
}
.value{
	cursor:auto;
	word-wrap: break-word; 
}

.heading{
	cursor:auto;
	background-color: #8383FF;
	text-align: right;
	color: white;
}

li{
	padding: 10px;
	display: inline;
	list-style-type: none;
	text-align: right;
}
.contacts_table{
	border: 1px solid #9966FF;
	border-radius: 30px;
	border-collapse: collapse;
	padding: 10px;
}
.contacts_table td, .contacts_table th {
    font-size: 1em;
    border: 1px solid #9966FF;
    padding: 3px 7px 2px 7px;
}

.contacts_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #9966FF;
    color: #ffffff;
}
.contacts_table tr.alt td {
    color: #000000;
    background-color: #E0D1FF;
}
.select{
	background: transparent;
	padding: 20px;
	border-radius: 5px;
	font-size: 80%;
	height: 34px;
}